<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="raypad.Properties.Settings.ConnectionString" connectionString="Data Source=|DataDirectory|\.sdf;Password=raypad"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="asteroideye.Properties.Settings.ConnectionString"
            connectionString="Data Source=|DataDirectory|\.sdf;Password=raypad"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>